body {
	padding: 0;
	margin: 0;
	//background-color: #e6e6ff;
	width: 100%;
	height: 100%;
	font-family: "Droid Sans", arial, verdana, sans-serif;
	font-weight: 700;
	color: #ff6;
	background-color: #000;
	overflow: hidden;
}
.wrapper {
	display: block;
	margin: 5% auto;
	border-radius: 5px;
	width: 960px;
	height: 500px;
	position: relative;
}
canvas {
	position: absolute;
	left: 0;
	top:0;
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 5px;
}
#status {
	left: 1%;
	top: 1%;
	width: 25%;
	height: 25%;
}
#start {

	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%);
	padding: 1% 4%;
	background: #222;
	border-radius: 5px;
	z-index: 1001;
	font-weight: bold;
	font-size: 170%;
	cursor: pointer;
}
#gameOver {
	font-size: 320%;
	font-weight: bold;
	color: #edb309;
	text-transform: uppercase;
	display: none;
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%);
	z-index: 1;
	text-shadow: 5px 0px 3px rgba(255, 255, 255, 1);
}
#titles
{
	z-index:1000;
	position: absolute;
	width: 18em;
	height: 50em;
	bottom: 0;
	left: 50%;
	margin-left: -9em;
	font-size: 350%;
	font-weight: bold;
	text-align: justify;
	overflow: hidden;
	transform-origin: 50% 100%;
	transform: perspective(300px) rotateX(25deg);
}
#titles:after
{
	position: absolute;
	content: ' ';
	left: 0;
	right: 0;
	top: 0;
	bottom: 60%;
	background-image: linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
	pointer-events: none;
}
#titlecontent
{
	position: absolute;
	top: 100%;
	animation: scroll 100s linear 0s infinite;
}
@keyframes scroll {
	0% { top: 100%; }
	100% { top: -170%; }
}
.start {
	color: rgba(0,0,0,0.6);
	text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
}
.game_over {

}