// HEADER COLORS
$header-bg-color: #355a6f;
$header-color: #ffffff;

// REGISTRATION FORM COLORS
$reg-form-color: #000000;
$reg-form-bg-color: #f6f6f6;
$reg-form-btn-bg-color: #ff7f00;
$reg-form-btn-active-bg-color: #b0c300;
$reg-form-btn-color: #ffffff;

// MAIN
$l-main-bg-color: #ffffff;
$l-main-title-color: #52595e;

// DEVICES
$l-devices-color: #ffffff;

// FOOTER COLORS
$footer-bg-color: #525a5e;
$footer-color: #ffffff;



 $primaryColour: #ff7f00;