/* ==|======================
   Modeule/Devices
   ========================= */
@import "../modules/_colors.scss";
@import "general/_images.scss";

.l-devices {
	margin-top: 20px;
	width: percentage(12/12);
	.l-devices-title {
		color: $l-devices-color;
		a {
			text-decoration: none;
			@extend .l-devices-title;
			display: block;
		}
		h2 {
			padding-top: 40px;
			text-align: center;
			font: 40px/45px $font-family;
		}
		ul {
			width: percentage(12/12);
			text-align: center;
		}
		li {
			display: inline-block;
			margin:10px 20px 0px 20px;
		}
	}
	.l-devices-body {
		@extend .l-devices-title;
		margin: auto;
		margin-top: 50px;
		width: percentage(6/12);
		height: percentage(6/12);
	    position:relative;
		figure {
			height: 400px;
		}
		img {
			max-width: 100%; 
			opacity:0;
    		position:absolute;
    		top:0;
		    -webkit-animation-name: anim_slides;
		    -webkit-animation-duration: 24.0s;
		    -webkit-animation-timing-function: linear;
		    -webkit-animation-iteration-count: infinite;
		    -webkit-animation-direction: normal;
		    -webkit-animation-delay: 0;
		    -webkit-animation-play-state: running;
		    -webkit-animation-fill-mode: forwards;
		    &:nth-child(2) {
    		-webkit-animation-delay: 6.0s;
    		-moz-animation-delay: 6.0s;
	}
&:nth-child(3){
    -webkit-animation-delay: 12.0s;
    -moz-animation-delay: 12.0s;
}
&:nth-child(4){
    -webkit-animation-delay: 18.0s;
    -moz-animation-delay: 18.0s;
}
	     	}
     

    
   
     @-webkit-keyframes anim_slides {
    0% {
        opacity:0;
    }
    6% {
        opacity:1;
    }
    24% {
        opacity:1;
    }
    30% {
        opacity:0;
    }
    100% {
        opacity:0;
    }
}
	}
}