/* ==|======================
   Modeule/Marketing
   ========================= */@import "../modules/_colors.scss";
@import "general/_images.scss";
.l-marketing {
	margin-top: 20px;
	
	width: percentage(12/12);
	text-align: center;
		@include clearfix;
	h2 {
		color: $primaryColour;
		margin-top: 20px;
		font: 40px/45px $font-family;
	}
	.l-marketing-post {
		margin-top: 20px;
		padding-bottom: 20px;
		width: percentage(6/12);
		float: left;
		h2 {
			font: 22px/30px $font-family;
			color:#6f6f72;
		}
	}
	p {
		font: 14px/20px $font-family;
		padding-top: 5px;
	}
	img {
		max-width: 10%;
	}
}