* {
	padding:0;
	margin:0;
}
body {
	background-color: #435a6b;
}
a {
	text-transform: uppercase;
	text-decoration: none;
	color: #ffffff;
	display: block;
}
nav {
	width: 1032px;
	margin: 114px auto;
}
li {
	margin-left: 48px;
	position: relative;
	padding: 0px 20px 0px 20px;
	line-height: 45px;
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
	letter-spacing: 1px;
	display: inline-block;
}

li:before, li:after  {
	height: 45px;
	position: absolute;
	content:'';
	width:2px;
	background-color: #687b88;
	transition: 0.5s;
	top: 0;
	
}
li:before {
	left: 0px;
}
li:after {
	right: 0px;
}
li:hover:before,li:hover:after {
	position: absolute;
	background-color: #fff;
	content: '';
	width:2px;
	height: 45px;
	transition: 0.5s;
}
li:hover:before {
	transform: rotate(-90deg);
	top: -22px;
	left: 50%;
}
li:hover:after {
	transform: rotate(-90deg);
	top: 22px;
	right: 49%;
}
