* {
	box-sizing: border-box;
}
.blur, .overlay {
	display: inline-block;
	width: 230px;
	height: 150px;
	margin-right: 10px;
	overflow:hidden;
	position: relative;
	z-index:2;
}
img {
	width: 230px;
	height: 150px;
	z-index: 10;
	position: absolute;
	transition: all .5s ease-in;
}
h2, a {
	z-index:1;
	height: 40px;
	background-color: #565656;
	color: #fff;
	position: absolute;
	text-transform: capitalize;
	transition: all .5s ease-in;
	font-size: 16px;
}
h2 {
	left: 20px;
	text-align: center;
	top:20px;
	height: 30px;
	width: 83%;
	line-height: 30px;
	opacity: 0.9;
}
a {
	text-decoration: none;
	text-align: center;
	top: 90px;
	width: 40%;
	height: 30px;
	line-height: 30px;
	left: 70px;
	background: transparent;
	border: 1px solid #fff;

}
.blur:hover > h2 , .blur:hover > a{
	position: absolute;
	z-index:40;
	transition: all .5s ease-in;
	transform: scale(1.2);
}
.blur:hover > img {
 transform: scale(1.2);
 filter: blur(5px);
 transition: all .5s ease-in;
} 
.overlay:hover > h2 , .overlay:hover > a{
	position: absolute;
	z-index:40;
	transition: all .5s ease-in;
	transform: scale(1.2);
}
.overlay:hover > img {
 transform: scale(1.2);
transition: all .5s ease-in;
} 