/* ==|======================
   Layout/Footer
   ========================= */
@import "../modules/_colors.scss";
@import "../general/_images.scss";

.l-footer {
	
	a {
		display: block;
		color: $footer-color;
		text-decoration: none;
	&:hover {
		color:  $primaryColour;
		}
	}
	section {
		margin-top: 50px;
		width: percentage(6/12);
		float: left;
		ul {
			text-align:center;
			li {
				font: 22px/45px $font-family;
			}
		}
	&:nth-child(2) {
		
		ul {
			text-align: center;
			
		}
			li {
				width: percentage(2/12);
				display: inline-block;
				text-align: center;

				img {
					max-width: 80%;
					opacity: 0.6;
					&:hover {
					opacity: 0.9;
					transform: scale(1.1);
				}
				}
				
			}
		}
	@include clearfix;
	}
	.copyright {
		clear: both;
		text-align: center;
		font: 18px/45px $font-family;
	}
}