$header-bg-image: url('../images/zwartevilt.png');
$logo-image: url('../images/logo_dark.png');
$devices-bg-image: url('./../images/stardust_@2X.png');
$l-devices-iphone-landscape: url('./../images/devices/IPhone_5_landscape.png');
$footer-bg-image: url('../images/footer.png');
$twitter-bg-image: url('../images/icons/twitter.png');
$facebook-bg-image: url('../images/icons/facebook.png');
$email-bg-image: url('./../images/icons/email.png');