/* font-family: "OpenSansLight"; */
@font-face {
    font-family: "OpenSansLight";
    src: url("../fonts/OpenSansLight/OpenSansLight.eot");
    src: url("../fonts/OpenSansLight/OpenSansLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansLight/OpenSansLight.woff") format("woff"),
    url("../fonts/OpenSansLight/OpenSansLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "Biko"; */

@font-face {
    font-family: 'Biko';
    src: url('../fonts/Biko/biko_regular.eot');
    src: url('../fonts/Biko/biko_regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Biko/biko_regular.woff2') format('woff2'),
         url('../fonts/Biko/biko_regular.woff') format('woff'),
         url('../fonts/Biko/biko_regular.ttf') format('truetype'),
         url('../fonts/Biko/biko_regular.svg#bikoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

