@import "fonts.scss";

/* HEADER */ 
body {
	font-size: 10px;
	font-family: "OpenSansLight";
	box-sizing:border-box;
	@media screen and (min-width: 320px) and (max-width: 425px) {
		font-size: 5px;
	}
	@media screen and (min-width: 426px) and (max-width: 768px) {
		font-size: 8px;
	}
}
.main-header {
background: #296b25; /* Old browsers */
background: -moz-linear-gradient(left, #296b25 0%, #b1ce30 50%, #245439 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #296b25 0%,#b1ce30 50%,#245439 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #296b25 0%,#b1ce30 50%,#245439 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#296b25', endColorstr='#245439',GradientType=1 ); /* IE6-9 */
	&__logo {
		font-size: 275.8%;
		font-family: "Biko";
		margin-top: 25px;

		&::before {
			display: inline-block;
			content: '';
			background: url(../img/logo.png) top no-repeat;
			width: 38px;
			height: 43px;
			vertical-align: bottom;
			margin-right: 10px;
		}
	}

-webkit-clip-path: polygon(0 90%, 0 0, 100% 0, 100% 90%, 50% 100%);
clip-path: polygon(0 90%, 0 0, 100% 0, 100% 90%, 50% 100%);
	&__brand {
	@media screen and (min-width: 320px) and (max-width: 768px) {
		flex-basis: 100%;
		text-align: center;
	}
	}
}
.container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.main-nav {
	 @media screen and (min-width: 320px) and (max-width: 768px) {
	 	flex-basis: 100%;
	 	text-align: center;
	 }
}
.menu {
    margin-top: 30px;
    margin-left: -8%;
    @media screen and (min-width: 320px) and (max-width: 768px) {
    	margin: auto;
    	padding-left: 0;
    }
	&__item {
		@media screen and (min-width: 320px) and (max-width: 768px) {
			margin-right: 5px;
		}
		list-style-type:none;
		display: inline-block;
		margin-right: 30px;
		&:last-of-type {
		margin-right: 0;
		}
	}
	&__link {
		&.active {
			border:2px solid black;
		}
		 @media screen and (min-width: 320px) and (max-width: 768px) {
		 	padding: 5px 15px;
		 }
		display: block;
		padding: 10px 30px;
		text-transform: capitalize;
		font-size: 180%;
		text-decoration: none;
		color:black;
		border: 2px solid transparent;
		&:hover {
			border:2px solid black;
		}
	}
}
.wrapper {
	max-width: 960px;
	margin: auto;
	padding-bottom: 7%;
}

#nav-checkbox,
.nav-toggle {
  display: none;
}

.main-logo {
	max-width: 480px;
	text-align: right;
	padding: 25px 25px 0px 18px;
	position: relative;
	&__caption {
		text-transform: capitalize;
		font-size: 186.8%;
		margin: 0;
		display: inline-block;
		margin-right: -11px;
	}
	&__image {
			max-width: 100%;
		}
}
.main__title {
	font-size: 360%;
	margin: auto;
	margin-left: 10%;
	line-height: 1.5;
    margin-bottom: 4%;
    @media screen and (min-width: 320px) and (max-width: 768px) {
    	font-size: 300%;
    }
}
.main-description {
}
.main-text {
    margin: 0;
    font-size: 220%;
    text-align: center;
    margin-left: -8%;
    @media screen and (min-width: 320px) and (max-width: 768px) {
    	font-size: 150%;
    	margin: auto;
    	padding-bottom: 2%;
    	width: 97%
       }
    @media screen and (min-width: 769px) and (max-width: 1024px) {
    	font-size: 180%;
    	margin: auto;
    }
}

/* SECTION FEATURES */
.features {
	.wrap {
	@extend .wrapper;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
	}
	margin-bottom: 1%;
	background-color: #f5f9f7;
	&__entry {
		flex-basis: 52%;
		@media screen and (min-width: 320px) and (max-width: 768px) {
			flex-basis: 100%;
			margin: auto;
			padding-bottom: 1%;
		}
	}
	&__title {
		font-size: 340%;
		text-transform: capitalize;
		margin: 0;
		margin-left: -20px;
		margin-top: 5px;
		margin-bottom: 8%;
	}
	&__text {
		font-size: 220%;
		margin: 0;
		text-align: center;
		margin-left: -6%;
		padding-bottom: 2px;
		@media screen and (min-width: 320px) and (max-width: 425px) {
			font-size: 150%;
		}
		@media screen and (min-width: 769px) and (max-width: 1024px) {
			font-size: 160%;
		}
	}
	&__image {
		flex-basis: 48%;
		@media screen and (min-width: 320px) and (max-width: 768px) {
			flex-basis: 100%;
		}
		img {
		    max-width: 100%;
		    margin-left: -12%;
		    @media screen and (min-width: 320px) and (max-width: 768px) {
		    	margin: auto;
		    }
		}
	}
}
.buy {
	background-color: #f5f9f7;
	.wrap {
	@extend .wrapper;
	display: flex;
	justify-content: center;
	text-align: center;
	flex-wrap: wrap;
    padding-top: 4%;
    padding-bottom: 2%;
	}
	.main-header__brand, .buy-btn {
		flex-basis: 50%;
		@media screen and (min-width: 320px) and (max-width: 768px) {
			flex-basis: 100%;
		}
	}
	&__link {
		display: inline-block;
		text-transform: capitalize;
		font-size: 300%;
		background-color: #347a51;
		text-decoration: none;
		color: black;
		padding: 15px 25px;
		margin-top: 10%;
		&:hover {
			transform: scale(1.1);
		}
	}
	.main-header__logo {
	    margin-left: -14%;
		font-size: 590%;
		&::before {
			background:url(../img/footprint-big.png) no-repeat;
			width: 81px;
			height: 91px;
		}
	}
	
}

/* FOOTER */
.main-footer {
background: #296b25; /* Old browsers */
background: -moz-linear-gradient(left, #296b25 0%, #b1ce30 50%, #245439 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #296b25 0%,#b1ce30 50%,#245439 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #296b25 0%,#b1ce30 50%,#245439 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#296b25', endColorstr='#245439',GradientType=1 ); /* IE6-9 */
-webkit-clip-path: polygon(0% 100%, -144% 100%, 50% 0%, 244% 100%, 0% 100%);
clip-path: polygon(0% 100%, -144% 100%, 50% 0%, 244% 100%, 0% 100%);
	&__nav {
		margin: auto;
		text-align: center;
		padding-top: 6%;
		padding-bottom: 4%;
	.menu {
		    margin-top: 5%;
		    margin-bottom: 2%;
		    &__item {
		    	margin: 0% 4%;

		    	vertical-align: middle;
		    }
		    &__link {
		    	padding:0;
		    	display: block;
		    &:hover {
		    	border: 2px solid transparent;
		    	opacity: 0.5;
		    	transform: scale(1.1);
		    }
		    }
		}
	}
	.wrapper {
		padding-bottom: 1%;
	}
	.social {
		width: 46px;
		height: 46px;
		border-radius: 50%;
		border: 1px solid black;
		position: relative;
		&:hover {
			border: 1px solid black;
			 transform: rotate(15deg);
		}
		@media screen and (min-width: 320px) and (max-width: 768px) {
			width: 20px;
			height: 20px;
		}
	i {
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		position: absolute;
	}
	}
	.copyright {
		text-align: center;
		font-size: 180%;
		margin-bottom: 1%;
	}
}

.footprint {
	display: none;
	img {
		max-width: 100%;
	}
}


